# netkeiba.comからスクレイピング

In [103]:
import pandas as pd
url ="https://db.netkeiba.com/race/202005040601" 
pd.read_html(url)[0]

,着順,枠番,馬番,馬名,性齢,斤量,騎手,タイム,着差,単勝,人気,馬体重,調教師
0,1,6,8,ノームストリーム,牡2,55,田辺裕信,1:39.4,NaN,3.7,2,484(-6),[東] 中舘英二
1,2,4,4,ショウナンアストラ,牡2,54,木幡育也,1:39.5,クビ,14.0,6,466(+6),[東] 矢野英一
2,3,3,3,ビーマイセルフ,牝2,54,嶋田純次,1:39.5,アタマ,31.2,8,436(-2),[東] 萱野浩二
3,4,5,6,サムライスピアー,牡2,55,柴田善臣,1:39.6,1/2,19.4,7,444(+4),[東] 菊川正達
4,5,7,11,テイルウインド,牡2,55,武藤雅,1:39.8,1.1/4,5.1,3,486(+12),[東] 武藤善則
5,6,5,7,ミエノハヤブサ,牡2,55,岩田望来,1:40.3,3,2.8,1,458(-6),[東] 田中博康
6,7,2,2,シゲルブイン,牡2,52,原優介,1:40.4,1/2,289.5,11,454(+2),[東] 深山雅史
7,8,1,1,ゴールドブリーズ,牡2,55,武士沢友,1:40.7,2,10.4,5,480(+2),[東] 深山雅史
8,9,4,5,カキエモン,牡2,55,黛弘人,1:40.8,クビ,136.2,10,446(-2),[東] 伊藤伸一
9,10,7,10,ブラウンザウバー,牡2,55,野中悠太,1:40.8,クビ,293.1,12,462(-2),[東] 小西一男
10,11,6,9,モンサンレックス,牡2,55,木幡巧也,1:41.1,1.3/4,9.1,4,486(-2),[東] 牧光二
11,12,8,12,トペコンヒーロ,牡2,55,柴田大知,1:41.5,2,122.7,9,478(+2),[東] 勢司和浩
12,13,8,13,スマーティキャット,牡2,55,木幡初也,1:41.6,1/2,385.3,13,444(0),[東] 小桧山悟

01:札幌,02:函館,03,福島,04:新潟,05:東京,06:中山,07:中京,08:京都,09:阪神,10:小倉

### スクレイピングの関数

In [104]:
import time
from tqdm import tqdm_notebook as tqdm

def scrape_race_results(race_id_list, pre_race_results={}):
    race_results = pre_race_results #辞書型
    for race_id in tqdm(race_id_list):
        if race_id in race_results.keys():
            continue
        try:
            url = "https://db.netkeiba.com/race/" + race_id
            race_results[race_id] = pd.read_html(url)[0]
            time.sleep(1)
        except IndexError:
            continue
        except:
            break
    return race_results

### レースIDのリスト作成

In [105]:
race_id_list = []
for place in range(1, 11, 1):
    for kai in range(1, 6, 1):
        for day in range(1, 9, 1):
            for r in range(1, 13, 1):
                race_id = (
                    "2019" + str(place).zfill(2) + str(kai).zfill(2) + str(day).zfill(2) + str(r).zfill(2))
                race_id_list.append(race_id)

### 実行と保存

In [106]:
results = scrape_race_results(race_id_list)
for key in results:
    results[key].index = [key] * len(results[key])
results = pd.concat([results[key] for key in results], sort=False)
results.to_pickle('results.pickle')

HBox(children=(FloatProgress(value=0.0, max=4800.0), HTML(value='')))